@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-text {
    @apply font-poppins mt-[10px] font-semibold text-[20px] text-[#7EFF66] leading-[150%] w-[284px] h-[24px] justify-start;
  }
  .box-text {
    @apply p-[13px] items-center w-[383px] bg-[#F9FAFA] text-[#000];
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.main {
  background-image: url('../src/assets/small_b3.jpg');
  top: 0;
  min-height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

::-webkit-scrollbar {
  width: 4px;
  display: none;
  height: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #e5e7eb;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 4px;
}
